#box {
    display: flex ;
    flex-wrap: wrap;
    height: 200px;
}
/* 1ere ligne */
/* vert */
 #bloc1l1 {
    height: 10%;
    width: 80%;
    background-color: #2ECC71;
}
/* bleu */
 #bloc2l1 {
    height: 10%;
    width: 20%;
    background-color: #2980B9;
}
/* 2eme ligne */
/* rouge */
  #bloc1l2{
    height: 40%;
    width: 33.3%;
    background-color: #E74C3C;
}
  #boxPart2l2{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    width: 66.7%;
  }
  /* orange */
  #bloc1l1Part2{
    height: 50%;
    width: 50%;
    background-color: #E67E22;
}
/* gris */
  #bloc2l1Part2{
    height: 50%;
    width: 50%;
    background-color: #95A5A6;
}
/* jaune */
  #bloc1l2Part2{
    height: 50%;
    width: 33.3%;
    background-color: #F39C12;
}
/* bleu vert */
  #bloc2l2Part2{
    height: 50%;
    width: 33.3%;
    background-color:#16A085;
}
/* marron */
  #bloc3l2Part2 {
    height: 50%;
    width: 33.4%;
    background-color:#D35400;
}
/* 3eme ligne */
/* bleu foncé */
  #bloc1l3{
    height: 50%;
    width: 100%;
    background-color: #2C3E50;
}
