#box {
    display: flex ;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 75%;
    height: 200px;
}
 .vert {
    height: 10%;
    width: 80%;
    background-color: green;
}
 .bleu {
    height: 10%;
    width: 20%;
    background-color: blue;
}
  .rouge{
    height: 40%;
    width: 33.3333%;
    background-color: red;
}
  .multi{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 40%;
    width: 66.666%;

  }
  .orange{
    height: 50%;
    width: 50%;
    background-color: orange;
}
  .gris{
    height: 50%;
    width: 50%;
    background-color: #9e9e9e;
}
  .jaune{
    height: 50%;
    width: 33.333%;
    background-color: yellow;
}
  .turquoise{
    height: 50%;
    width: 33.333%;
    background-color:#24857c;
}
  .rouille {
    height: 50%;
    width: 33.333%;
    background-color:#c05b0b;
}
  .bleugris{
    height: 50%;
    width: 100%;
    background-color: #303948;
}
